/*  BEGIN RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET*/


/* BEGIN GENERAL RULES*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

h2 {
  font-size: 34px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

p {
  line-height: 36px;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0;
}

.col {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  padding: 0 15%;
}

.top-section {
  background-color: #f4f9fd;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

a.orange-btn {
  display: inline-block;
  background-color: #fe775a;
  color: #fff;
  font-weight: 600;
  padding: 14px;
  border-radius: 7px;
  transition: all .2s ease;
}

a.orange-btn:hover {
  color: #fff;
  background-color: #03a5be;
}

a.big {
  padding: 25px 40px;
}
/* END GENERAL RULES */


/* BEGIN HEADER */
header .top-section {
  border-bottom: 1px solid #33475b;
}

/* Begin settings-menu */
header a {
  display: inline-block;
  color: #33475b;
  font-weight: 600;
  transition: all .2s ease;
}

header a:hover {
  color: #fe775a;
}

header .settings-menu {
padding: 25px 0;
}

header .settings-menu .col {
  width: 50%;
}

header .settings-menu .left {
  line-height: 50px
}

header .settings-menu .col span.divider {
  line-height: 20px;
  border-right: 2px solid #33475b;
  margin: 0 20px;
}
header .settings-menu .col a.search {
  color: #03a5be;
}

header .settings-menu .col a.login {
  color: #fe775a;
  margin: 0 25px;
  padding: 14px;
  border: 1px solid #fe775a;
  border-radius: 7px;
  transition: all .2s ease;
}

header .settings-menu .col a.login:hover {
  color: #03a5be;
  border: 1px solid #03a5be;
}
/* End settings-menu */

/* Begin navigation */
nav {
padding: 25px 0;
}

nav .col {
  width: 50%;
}

nav .right {
  line-height: 34px;
}

nav .col ul li {
  display: inline-block;
}

nav .col ul li a {
  padding: 0 15px;
}

nav .col ul li a:last-child {
  padding-right: 0px;
}

nav .col ul li a i{
  margin-left: 10px;
}
/* End navigation */

/* Begin jumbotron-section */
header .jumbotron-section {
  background-color: #fef6ef;
  background-position: 100% -10%;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
}

header .jumbotron-section .teaser {
  width: 50%;
  padding: 60px 0px 140px 0;
}
header .jumbotron-section .teaser h1{
  font-size: 50px;
}

header .jumbotron-section .teaser h6 {
  padding-top: 30px;
  font-weight: 600;
  font-size: 13px;
}

header .jumbotron-section .decoration {
  height: 100px;
  background-color: #afebe4;
  border-top: 5px solid #33475b;
  border-bottom: 5px solid #33475b;
}
/* End jumbotron-section */
/* END HEADER */


/* BEGIN MAIN */

/* Begin offer */
main section.offer {
  padding: 30px 0;
  width: 75%;
  margin: 0 auto;
}

main section.offer img {
  width: 300px;
}

main section.offer h2 {
  text-transform: capitalize;
}
/* End offer */

/* Begin resources area */
/* Begin card */
main .resources .card {
  padding: 35px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px #ebf0f4;
}

main .resources .card img {
  display: block;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .resources .card h3 {
  font-size: 28px;
  margin-bottom: 35px;
}

main .resources .card hr {
  margin: 35px 0;
}

main .resources .card .feature h4 {
  font-size: 22px;
}

main .resources .card .feature ul {
  margin: 25px 0;
}

main .resources .card .feature ul li {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 600;
}

main .resources .card .feature ul li i {
  color: #fe775a;
  margin-right: 10px
}

main .resources .card a {
  margin-top: 20px;
}

/* Begin card top */
main .resources .card .top {
  padding: 25px;
}

main .resources .card .top .column-left {
  width: 30%;
}

main .resources .card .top .column-right {
  width: 70%;
}

main .resources .card .top .feature hr {
  width: 60%;
  margin: 15px 0 15px 50px;
}

main .resources .card .top .feature li {
  display: inline-block;
}
/* End card top */

/* Begin column card */
main .resources .column .card {
  width: 30%;
}

main .resources .column .card:nth-child(2) {
  margin: 0 5%;
}
/* End column card */

/* End card */
/* End resources area */

/* Begin grid area*/
section.grid-area {
  background-image: linear-gradient(to right, #00aab7, #00bba8);
  color: #fff;
  padding: 50px 0;
}

/*  WARNING:  */
section.grid-area .squere-row:first-child {
  background-color: yellow;
} /* QUESTA REGOLA NON FUNZIONA ... ??? */

section.grid-area .squere-row:last-child .squere-entry {
  border-bottom: none;
}

section.grid-area .squere-row .squere-entry {
  text-align: center;
  float: left;
  width: 25%;
  padding: 25px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

section.grid-area .squere-row .squere-entry:last-child {
  border-right: none
}

section.grid-area .squere-row .squere-entry h3 {
  font-size: 48px;
}

section.grid-area .squere-row .squere-entry h3 i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
/* End grid area */

/* END MAIN */
